<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Pending Orders</h1>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Items</th>
    </tr>

    {% for order in orders %}

    <tr>
    <td>{{ order[0] }}</td>
    <td>{{ order[1] }}</td>
    <td>{{ order[2] }}</td>
    <td>{{ order[3] }}</td>

    <td>
        <form action="/complete/{{ order[0] }}" method="POST">
            <button type="submit">
                Order Complete
            </button>
        </form>
    </td>
</tr>

    {% endfor %}

</table>

</body>
</html>